*.class
*.classpath
*.project
*.prefs

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear



# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/common/target/maven-status/maven-compiler-plugin/compile/default-compile/*.lst
/common/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/*.lst

*.lst
